.avatar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3da7+0,2c3da7+50,182786+50,182786+99 */
  background: $theme-secondary;
  background: linear-gradient(135deg, $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%);

  opacity: 0;
  transition: all 1s ease;

  &__profile-wrap {
    opacity: 0;
    transition: all .3s ease;
    transition-delay: .5s;
    transform: translate(0, -50%);
  }

  &__title {
    font-size: 2.25rem;
    margin: 0 0 1rem;
    padding: 0;
    text-transform: uppercase;
  }

  &__img {
    width: 140px;
    height: 140px;
  }

  &__text-item {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
  }

  &__text {
    color: lighten($theme-subtle, 5%);
    font-size: .875rem;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__hint-wrap {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    transform: translate(-50%, 40%);
  }

  &__mouse {
    width: 2rem;
    fill: $white;
    cursor: pointer;
    animation: scrolldown-effect 2s infinite;
  }

  &__scrolldown-text {
    display: block;
    font-size: .8rem;
  }
}

.window--is-loaded {
  .avatar {
    opacity: 1;
    &__profile-wrap {
      opacity: 1;
      transform: translateY(50px); // TEMP: not sure how to calulate this in RWD unit
    }

    &__hint-wrap {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

@keyframes scrolldown-effect {
    0%, 20%, 50%, 80%,to {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-7px)
    }

    60% {
        transform: translateY(-3px)
    }
}
