.intro {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c008d+0,4c008d+51,39006a+51,39006a+100 */
  background: $purple;
  background: linear-gradient(135deg, #4c008d 0%,#4c008d 51%,#39006a 51%,#39006a 100%);

  &__content {
    font-family: $sub-font;
    max-width: 600px;
    margin: auto; // need this line to fix center problem causing by fullpage.js
    padding: 0 55px;
    @media (min-width: 800px) {
      font-size: 1.3rem;
      padding: 0;
    }
  }

  &__first-section {
    opacity: 0;
    font-size: 1.1rem;
    transition: all .3s ease;
    transition-delay: .3s;
    transform: translate(0, 40%);
  }

  &__second-section {
    opacity: 0;
    font-size: 1.1rem;
    transition: all .3s ease;
    transition-delay: .9s;
    transform: translate(0, 20%);
  }

  &__social-links {
    display: flex;
  }
}

.intro--is-active {
  .intro {
    &__first-section {
      opacity: 1;
      transform: translateY(0);
    }

    &__second-section {
      opacity: 1;
      transform: translateY(0);
    }
  }
}