.link-slide-in {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 3px;
  border-bottom: 1px dotted $white;
  overflow: hidden;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  &::after {
    content: attr(data-linktext);
    padding: 0 3px 2px;
    position: absolute;
    color: $white;
    background-color: $black;
    transition: all .3s;
  }
}

.link-slide-in-left {
  &:hover {
    &::after {
      left: 0;
    }
  }

  &::after {
    left: -100%;
  }
}