*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%; // onepage-scroll needs this line
}

body {
  color: $white;
  font-family: $main-font;
  font-size: 100%;
  line-height: 2em;
  margin: 0 auto;
  padding: 0;
}

a {
  color: $white;
  text-decoration: underline;
}
