*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: $main-font;
  margin: 0 auto;
  padding: 3rem;
  line-height: 2em;
  font-size: 100%;
  color: $white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3da7+0,2c3da7+50,182786+50,182786+99 */
  background: $theme-secondary; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $theme-secondary 0%, $theme-secondary 50%, $theme-primary 50%, $theme-primary 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-secondary', endColorstr='$theme-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
  color: $white;
  text-decoration: underline;
}
