*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: Montserrat, Helvetica Neue, sans-serif;
  margin: 0 auto;
  line-height: 2em;
  padding: 12px;
  color: #fff;
  overflow: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3da7+0,2c3da7+50,182786+50,182786+99 */
  background: #2c3da7; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2c3da7 0%, #2c3da7 50%, #182786 50%, #182786 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #2c3da7 0%,#2c3da7 50%,#182786 50%,#182786 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #2c3da7 0%,#2c3da7 50%,#182786 50%,#182786 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3da7', endColorstr='#182786',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
