// fullpage navigation style overridings

#fp-nav {
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;

  .active {
    span {
      background-color: $white !important;
    }
  }

  a {
    display: block;
    margin: .7rem 0;
    width: .9rem;
    height: .9rem;
    border: 3px solid $white;
    border-radius: 50%;

    span {
      background-color: transparent !important;
    }
  }
}

#fp-nav ul li .fp-tooltip {
  top: -9px !important;
  padding: 0 8px;
  border-radius: .125rem;
  /* 2/16 */
  background-color: rgba($black, .8);
  font-size: .75rem;
}

//*********************************
// Avatar section
//*********************************

.avatar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3da7+0,2c3da7+50,182786+50,182786+99 */
  background: $theme-secondary;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, $theme-secondary 0%, $theme-secondary 50%, $theme-primary 50%, $theme-primary 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$theme-secondary', endColorstr='$theme-primary',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */

  &__title {
    font-size: 2.25rem;
    margin: 0 0 1rem;
    padding: 0;
    text-transform: uppercase;
  }

  &__img {
    width: 140px;
    height: 140px;
  }

  &__text-item {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
  }

  &__text {
    color: $theme-subtle;
    font-size: .875rem;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__mouse {
    width: 2rem;
    fill: $white;
    cursor: pointer;
  }

  &__scrolldown {
    display: block;
    text-transform: uppercase;
  }
}

//*********************************
// Intro section
//*********************************

.intro {
  background-color: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c008d+0,4c008d+51,39006a+51,39006a+100 */
  background: #4c008d;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #4c008d 0%, #4c008d 51%, #39006a 51%, #39006a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #4c008d 0%,#4c008d 51%,#39006a 51%,#39006a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #4c008d 0%,#4c008d 51%,#39006a 51%,#39006a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#4c008d', endColorstr='#39006a',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.intro__content {
  font-family: $sub-font;
  max-width: 600px;
  margin: auto; // need this line to fix center problem causing by fullpage.js
  padding: 0 55px;
  font-size: 1.1rem;
  @media (min-width: 800px) {
    font-size: 1.3rem;
    padding: 0;
  }
}

.message {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21242a+0,21242a+50,2a2d34+50,2a2d34+100 */
  background: #21242a; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #21242a 0%, #21242a 50%, #2a2d34 50%, #2a2d34 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #21242a 0%,#21242a 50%,#2a2d34 50%,#2a2d34 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #21242a 0%,#21242a 50%,#2a2d34 50%,#2a2d34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21242a', endColorstr='#2a2d34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


//*********************************
// Link module
//*********************************

.link-slide-in {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 3px;
  border-bottom: 1px dotted $white;
  overflow: hidden;

  &:hover {
    border-bottom: 1px solid transparent;
  }

  &::after {
    content: attr(data-linktext);
    padding: 0 3px 2px;
    position: absolute;
    color: $white;
    background-color: $black;
    transition: all .3s;
  }
}

.link-slide-in-left {
  &:hover {
    &::after {
      left: 0;
    }
  }

  &::after {
    left: -100%;
  }
}
