// avatar section
.avatar {
  height: 100vh;
}

.avatar__title {
  font-size: 2.25rem;
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
}

.avatar__img {
  width: 140px;
  height: 140px;
}

.avatar__text-item {
  display: block;
  width: 100%;
}

.avatar__text {
  font-size: 0.875rem;
  color: $theme-subtle;
  text-transform: uppercase;
  letter-spacing: 10px;
}

// intro section
.intro__content {
  font-family: $sub-font;
  width: 600px;
  font-size: 1.3rem;
}

// link module
.link-slide-in {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 3px 0 3px;
  border-bottom: 1px solid $white;
  overflow: hidden;
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &::after {
    content: attr(data-linktext);
    padding: 0 3px 2px 3px;
    position: absolute;
    color: $white;
    background-color: $black;
    transition: all .3s;
  }
}

.link-slide-in-left {
  &:hover {
    &::after {
      left: 0;
    }
  }
  &::after {
    left: -100%;
  }
}
