// avatar section
.avatar {
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c3da7+0,2c3da7+50,182786+50,182786+99 */
  background: $theme-secondary; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $theme-secondary 0%, $theme-secondary 50%, $theme-primary 50%, $theme-primary 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  $theme-secondary 0%,$theme-secondary 50%,$theme-primary 50%,$theme-primary 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-secondary', endColorstr='$theme-primary',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.avatar__title {
  font-size: 2.25rem;
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
}

.avatar__img {
  width: 140px;
  height: 140px;
}

.avatar__text-item {
  display: block;
  width: 100%;
}

.avatar__text {
  font-size: 0.875rem;
  color: $theme-subtle;
  text-transform: uppercase;
  letter-spacing: 10px;
}

// intro section
.intro {
  background-color: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c008d+0,4c008d+51,39006a+51,39006a+100 */
  background: #4c008d; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #4c008d 0%, #4c008d 51%, #39006a 51%, #39006a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #4c008d 0%,#4c008d 51%,#39006a 51%,#39006a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #4c008d 0%,#4c008d 51%,#39006a 51%,#39006a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c008d', endColorstr='#39006a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.intro__content {
  font-family: $sub-font;
  width: 600px;
  font-size: 1.3rem;
}

// link module
.link-slide-in {
  position: relative;
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  padding: 0 3px 0 3px;
  border-bottom: 1px dotted $white;
  overflow: hidden;
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &::after {
    content: attr(data-linktext);
    padding: 0 3px 2px 3px;
    position: absolute;
    color: $white;
    background-color: $black;
    transition: all .3s;
  }
}

.link-slide-in-left {
  &:hover {
    &::after {
      left: 0;
    }
  }
  &::after {
    left: -100%;
  }
}
