.util-list-reset {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }

}

.util-rounded {
  border-radius: 50%;
}

.util-flex-centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.util-text-centered {
  text-align: center;
}

.util-absolute-centerd {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.util-full-viewport-heigh {
  height: 100vh;
}

.util-hidden {
  display: none;
}
