// Font stacks
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Roboto';


// colors

$theme-primary: #182786;
$theme-secondary: #2c3da7;

$theme-subtle: #2e3e93;

$purple: #4c008d;
$white: #fff;
$black: #000;

$main-font: Lato, Helvetica Neue, sans-serif;
$sub-font: Roboto, sans-serif;
